/* Css for the header part */

header {
    background-color: #e0e0e0;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    display: flex;
    right: 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    width: auto;
    height: 100px;
    margin-left: auto;
    padding-left: 35px;
}

.website-name {
    margin-left: 40px;
}

.website-name p {
    font-size: 30px;
    font-weight: bolder;
}

/* Css for the editors page part */

.editorspage {
    background-color: #8f8c8c;
    border: 1px solid white; 
    padding: 40px; 
    text-align: center; 
    margin-top: 35px;
}

.editors-pge {
    margin-bottom: 20px; 
    font-size: 30px;
}

.editors-pge a{
    text-decoration: none; 
    color: #000000; 
    font-weight: bold;
}

.editors-name {
    margin-top: 20px; 
    font-size: 35px;
    margin: 0; 
}